<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.pucrio.inf.lac">

    <!-- Required for MQTT and other network communications -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required for BLE scanning and connections -->
    <!-- These are the legacy permissions for older Android versions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Required for BLE scanning on Android 6.0+ -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required for BLE scanning on Android 12.0+ -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <!-- Declares that the app uses BLE, but it's not required to run -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />

    <!-- Required to show notifications on Android 13+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application>
        <!-- Service required by the Paho MQTT Client library -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <service
            android:name=".mobilehub.core.MobileHubService"
            android:foregroundServiceType="location" />

        <receiver android:name=".mobilehub.core.MobileHubServiceStopReceiver" />
    </application>
</manifest>